@import "tailwindcss";

@theme {
  --color-primary: #13ecb2;
  --color-background-dark: #0d1815;
  --color-surface-dark: #1a2a26;
  --font-display: "Manrope", sans-serif;
}

@layer base {
  body {
    @apply bg-background-dark text-slate-100 font-display;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
